@import "./reset.css";

:root {
    --app-dark-bg: #201c22;
    --app-font-color: #f2f4f6;
    --app-cute-font-color: #ffcfec;

    /* COLORS */

    --app-blue: #09f;
    --app-green: #9f0;
    --app-orange: #f90;
    --app-pink: #f09;
    --app-purple: #90f;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-pink);
    overflow: hidden;
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - -
                MAIN
- - - - - - - - - - - - - - - - - - - */ 

main {
    text-align: center;
    padding: 100px;
}

.game {
    height: 80vh;
    border: 1px solid #ff7fcc;
    border-radius: 10px;
}

.title {
    margin-top: 150px;
    cursor:default;
    user-select: none;
}

.ready {
    display: inline-block;
    font-size: 80px;
    animation: 1s loadInOut;
    color: var(--app-cute-font-color);
    opacity: 0;
}

.write {
    display: inline-block;
    font-size: 80px;
    animation: 1s loadInOut;
    animation-delay: 1s;
    opacity: 0;
    color: var(--app-cute-font-color);
}

/* - - - - - - - - - - - - - - - - - - -
                START
- - - - - - - - - - - - - - - - - - - - */

.start {
    padding: 10px;
    min-width: 100px;
    width: 10vw;
    font-size: 24px;
    border-radius: 5px;
    color: var(--app-font-color);
    background-color: #ff60bf;
    transition: 0.2s ease-in-out;
    animation: fadeIn 2.5s;
    opacity: 1;
}

.start:hover {
    transform: scale(1.4);
}

.reset {
    margin-top: 20px;
    padding: 10px;
    min-width: 100px;
    width: 10vw;
    font-size: 24px;
    border-radius: 5px;
    color: var(--app-font-color);
    background-color: #ff60bf;
    transition: 0.2s ease-in-out;
    display: none;
}

.reset:hover {
    transform: scale(1.4);
}

.word {
    margin-top: 200px;
    color: var(--app-cute-font-color);
    font-size: 30px;
}

.numerical {
    color: var(--app-cute-font-color);
}

li {
    list-style: none;
    display: inline-block;
    margin: 30px;
}

.input {
    margin-top: 50px;
    padding: 10px;
    min-width: 300px;
    width: 30vw;
    font-size: 24px;
    border-radius: 5px;
    color: var(--app-font-color);
    background-color: #ff60bf;
    transition: 0.2s ease-in-out;
    display: none;
}

/* - - - - - - - - - - - - - - - - - - -
            ANIMATION
- - - - - - - - - - - - - - - - - - - - */

@keyframes loadInOut {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }    
    40% {
        opacity: 100%;
        transform: translateY(0);
    }

    80% {
        opacity: 100%;
        transform: translateY(10%);
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        cursor: default;
        user-select: none;
    }

    90% {
        cursor: default;
        user-select: none;
        opacity: 0;
    }

    100% {
        cursor: pointer;
        user-select: initial;
        opacity: 1;
    }
}
